parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$permissions of method Illuminate\\Database\\Migrations\\Migration@anonymous/database/migrations/fill_default_admin_user_and_permissions\.php\:15\:\:upUserPermissions\(\) expects array\<array\<string, Carbon\\CarbonInterface\|string\>\>, array\<string, string\>\|bool\|Carbon\\CarbonInterface\|\(Illuminate\\Support\\Collection&iterable\<string\>\)\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: database/migrations/fill_default_admin_user_and_permissions.php

		-
			message: '#^Parameter \#1 \$roles of method Illuminate\\Database\\Migrations\\Migration@anonymous/database/migrations/fill_default_admin_user_and_permissions\.php\:15\:\:upUserRoles\(\) expects array\<array\<string, Carbon\\CarbonInterface\|\(Illuminate\\Support\\Collection&iterable\<string\>\)\|string\>\>, array\<string, string\>\|bool\|Carbon\\CarbonInterface\|\(Illuminate\\Support\\Collection&iterable\<string\>\)\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: database/migrations/fill_default_admin_user_and_permissions.php

		-
			message: '#^Property Illuminate\\Database\\Migrations\\Migration@anonymous/database/migrations/fill_default_admin_user_and_permissions\.php\:15\:\:\$users \(array\<array\<string, array\<string, string\>\|bool\|Carbon\\CarbonInterface\|\(Illuminate\\Support\\Collection&iterable\<string\>\)\|string\|null\>\>\) does not accept array\<int, array\<string, Carbon\\CarbonImmutable\|list\<array\<string, string\>\>\|string\|true\|null\>\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: database/migrations/fill_default_admin_user_and_permissions.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\BelongsTo'' and Illuminate\\Database\\Eloquent\\Relations\\BelongsTo will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Feature/Traits/CreatedByAdminUserTrait/CreatedByAdminUserTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\BelongsTo'' and Illuminate\\Database\\Eloquent\\Relations\\BelongsTo will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Feature/Traits/UpdatedByAdminUserTrait/UpdatedByAdminUserTest.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 8
			path: tests/TestCase.php

		-
			message: '#^Access to an undefined property Brackets\\Craftable\\Tests\\TestPublishableWithoutToModel\:\:\$published_to\.$#'
			identifier: property.notFound
			count: 2
			path: tests/TestPublishableWithoutToModel.php


